{% extends "auth_base.html" %}
{% load formcss %}

{% load static %}

{% block title %}
Reset Password
{% endblock title %}
{% block class %}
user-login
{% endblock class %}
{% block content %}
    <!-- WELCOME CONTENT -->
    <section class="voltaireWel">
        <div class="container-fluid">
            <div class="voltaireArea">
                <div class="voltairBOX voltaire-shadow-outset">
                    <div class="row">
                        <div class="col-md-7 voltaireLogin">
                            <div class="col-12 text-center mt-4  voltaireLogo"><img src="{% static 'img/logo.svg' %}"
                                    alt="Voltaire Welcome" /></div>
                                    <div class="loginBox text-center mt-5">
                                        <h2 class="blockTitle">Reset Password</h2>
                                        <form class="form-signin" method='POST'>
                                            <div class="boxBorder">
                                                
                                                {% csrf_token %}
                                                {% for field in form  %}
                                                <div class="row">
                                                    <div class="col-md-12 px-0">
                                                        {{ field|addplaceholder:"Enter your email" }}
                                                        {% for error in field.errors %}
                                                        <p class="mt-2 ml-3 mb-2" style="color: red">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% endfor %}

                                            </div>

                                            <div class="form-action mt-4">
                                                <button class="btn btn-primary d-inline-flex" type="submit">Reset Password</button>
                                            </div>
                                        </form>
                                    
                                        <div class="voltaireMedia mt-4">
                                            <ul class="nav">
                                                <li class="col-md d-flex align-items-center loginwith"><span>Or login
                                                        with</span></li>
                                                <li class="ml-md-auto"><a href="#"><img src="{% static 'img/icon/iconGoogle.png' %}"
                                                            alt="Google Play" /></a></li>
                                                <li><a href="#"><img src="{% static 'img/icon/iconTwitter.png' %}" alt="Twitter" /></a></li>
                                                <li><a href="#"><img src="{% static 'img/icon/iconlinkedin.png' %}" alt="Linkedin" /></a></li>
                                            </ul>
                                        </div>
                                    </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME CONTENT -->

{% endblock content %}