{% extends "auth_base.html" %}
{% load formcss %}

{% load static %}

{% block title %}
Confirm Password Reset
{% endblock title %}
{% block class %}
user-login
{% endblock class %}
{% block content %}
    <!-- WELCOME CONTENT -->
    <section class="voltaireWel">
        <div class="container-fluid">
            <div class="voltaireArea">
                <div class="voltairBOX voltaire-shadow-outset">
                    <div class="row">
                        <div class="col-md-7 voltaireLogin">
                            <div class="col-12 text-center mt-4 mb-5 voltaireLogo"><img src="{% static 'img/logo.svg' %}"
                                    alt="Voltaire Welcome" /></div>
                                    <div class="loginBox">
                                        <h2 class="blockTitle">Reset Password</h2>
                                        {% if validlink %}
                                        <form class="form-signin" method='POST'>
                                            <div class="boxBorder">
                                                
                                                {% csrf_token %}
                                                {% for field  in form  %}
                                                <div class="row">
                                                    <div class="col-md-12 px-0">
                                                        {% if field.id_for_label == 'id_new_password1' %}                                                          
                                                        {{ field|addplaceholder:"Enter new password" }}
                                                        
                                                        {% else %}
                                                        {{ field|addplaceholder:"Re-Enter new password" }}
                                                        {% endif %}


                                                        {% for error in field.errors %}
                                                        <p class="mt-2 ml-3 mb-2" style="color: red">{{ error }}</p>
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                                {% endfor %}

                                            </div>
                                       
                                            <div class="form-action mt-4">
                                                <button class="btn btn-primary d-inline-flex" type="submit">Login</button>
                                            </div>
                                        </form>

                                        {% else %}
                                        <article class="card__content">
                                            <p>
                                                The password reset link was invalid, possibly because it has already been used.
                                                Please request a new password reset.
                                            </p>
                                        </article>
                                        {% endif %}
                                    
                                    </div>
                        </div>
                        <div class="col-md-5 align-items-center imagePolygon d-none d-md-flex"><img
                                src="{% static 'img/welcome/loginBG.png' %}" alt="Login" /></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME CONTENT -->

{% endblock content %}